absl-py==1.4.0
antlr4-python3-runtime==4.8
attrs==22.2.0
bert-score==0.3.9
bitarray==2.7.3
blis==0.7.9
boto3==1.26.91
botocore==1.29.91
catalogue==2.0.8
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
click==7.1.2
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
Cython==0.29.33
datasets==1.7.0
dill==0.3.6
diskcache==5.4.0
docker==5.0.0
fairseq==0.12.2
filelock==3.9.0
fonttools==4.38.0
fsspec==2023.3.0
huggingface-hub==0.0.12
hydra-core==1.0.7
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
logzero==1.7.0
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
moverscore @ git+https://github.com/AIPHES/emnlp19-moverscore.git@b9d4144e785293849216618e85db887b3ac741d3
multiprocess==0.70.14
murmurhash==1.0.9
nltk==3.8.1
nubia-score==0.1.5
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
omegaconf==2.0.6
overrides==3.1.0
packaging==23.0
pandas==1.5.3
pathy==0.10.1
Pillow==9.4.0
pluggy==0.13.1
portalocker==2.7.0
preshed==3.0.8
py==1.11.0
pyarrow==3.0.0
pycocoevalcap==1.2
pycocotools==2.0.6
pycountry==22.3.5
pycparser==2.21
pydantic==1.7.4
pyemd==1.0.0
pyparsing==3.0.9
pytest==6.2.4
python-dateutil==2.8.2
pytorch-transformers==1.2.0
pytz==2022.7.1
PyYAML==6.0
questeval==0.2.4
regex==2022.10.31
repro==0.1.4
requests==2.28.2
rouge-score==0.1.2
s3transfer==0.6.0
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.95
six==1.16.0
smart-open==6.3.0
spacy==3.0.6
spacy-legacy==3.0.12
srsly==2.4.6
tabulate==0.9.0
thinc==8.0.17
threadpoolctl==3.1.0
tokenizers==0.10.3
toml==0.10.2
torch==1.13.1
torchaudio==0.13.1
tqdm==4.49.0
transformers==4.8.1
typer==0.3.2
typing==3.7.4.3
typing_extensions==4.5.0
Unidecode==1.2.0
urllib3==1.26.14
wasabi==0.10.1
websocket-client==1.5.1
wget==3.2
xxhash==3.2.0
zipp==3.15.0
